#	$OpenBSD: smtpd.conf,v 1.11 2018/06/04 21:10:58 jmc Exp $

# This is the smtpd server system-wide configuration file.
# See smtpd.conf(5) for more information.

table aliases file:/etc/mail/aliases

# To accept external mail, replace with: listen on all
#
listen on lo0

{% if alerts_email_address is defined %}
action "local" maildir virtual {"@"="{{ alerts_email_address }}"}
{% else %}
action "local" maildir
{% endif %}

# note this is a TODO in this class to make that hostname configurable
action "relay" relay helo {{ ansible_hostname }} tls no-verify host smtp://{{ smtpd_router_host }}

# Uncomment the following to accept external mail for domain "example.org"
#
# match from any for domain "example.org" action "local"
match for local action "local"
match for any action "relay"
